<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
<!--        <projec.build.sourceEncoding>UTF-8</projec.build.sourceEncoding>-->
        <property name="LOG_DIR">logs</property>
        <property name="ARCHIVE_LOG_DIR">${LOG_DIR}/archive</property>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%M] %-5level %logger{5} - %msg%n</property>
        <property name="pattern_console">%d{HH:mm:ss} [%M] %-5level - %msg%n</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>

        <File name="File1" fileName="${LOG_DIR}/text.log" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>

        <RollingFile name="FileZip" fileName="${LOG_DIR}/text_arc.log" append="true"
                     filePattern="${ARCHIVE_LOD_DIR}/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log.zip">
            <PatternLayout pattern="${pattern_file}"/>
            <BurstFilter level="INFO" rate="16" maxBurst="100"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="25 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="Log_Console" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="Log_File" level="info" additivity="false">
            <AppenderRef ref="File1"/>
        </Logger>
        <Logger name="Zip_File" level="info" additivity="true">
            <AppenderRef ref="FileZip"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File1" level="info"/>
        </Root>
    </Loggers>

</Configuration>